.application-entity-name-modal {
  min-height: 30vh;
  max-height: 70vh;
  width: 60vw;
  background-color: white;

  .modal-body {
    max-height: calc(70vh - 80px);
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  table {
    background-color: white!important;
    th {
      padding: 1rem 1.25rem .6rem 1.25rem;
      text-align: left;
    }
    th:first-child, th:last-child, td:first-child, td:last-child {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.client-details-container {
  display: grid!important;
  grid-template-columns: 15% calc(35% - 7px) 15% calc(35% - 7px);
  padding: 25px 30px;
  gap: 15px 5px;

  > span {
    margin-top: 7px;
    color: $primary-color;
  }

  > div {
    width: 70%;
    min-width: 170px;
  }

  input {
    cursor: default!important;
  }
}
.application-entity-name-modal-retry-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font: $subtitle $font-regular;
  color: $primary-color;
}
.is-or-container{
  position: relative;
}
.is-or-container::after{
  content: 'or';
  position: absolute;
  bottom: -16px;
  left: calc(50% - 8px);
  font: $subtitle $font-medium;
  color: $primary-color;
}
.material-icons{
  color: $placeholder-color;
}
