@import "../../../../../index";

.application-entity-name-modal {
  min-height: 30vh;
  max-height: 70vh;
  width: 60vw;
  background-color: white;

  .modal-body {
    max-height: calc(70vh - 80px);
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  table {
    background-color: white!important;
    th {
      padding: 1rem 1.25rem .6rem 1.25rem;
      text-align: left;
    }
    th:first-child, th:last-child, td:first-child, td:last-child {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
