@import "color-palette";
@import "typography";
@import "common-class";
@import "basic-styles";
@import "node_modules/react-datepicker/dist/react-datepicker";
@import "modified-library";

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed{
  cursor: not-allowed;
}

.f-14 {
  font-size: $subtitle;
}

.font-primary {
  color: $primary-color;
}

.font-secondary {
  color: $secondary-color;
}

.font-placeholder {
  color: $placeholder-color;
}

.font-field {
  color: $field-color;
}

.font-danger {
  color: $error-color;
}

.d-flex {
  display: flex;
}

.just-center {
  justify-content: center;
}

.just-bet {
  justify-content: space-between;
}

.just-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.ml-5 {
  margin-left: 0.313rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.ml-15 {
  margin-left: 0.938rem;
}

.mr-5 {
  margin-right: 0.313rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.mr-15 {
  margin-right: 0.938rem;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mt-15 {
  margin-top: 0.938rem;
}
.mt-20 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: .313rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.mb-15 {
  margin-bottom: .938rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-background-color {
  background-color: $background-color;
}

.form-title {
  width: 80px;
  font: $subtitle $font-medium;
  color: $primary-color;
}

.no-record-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  font: $subtitle $font-regular;
  color: $primary-color;
}
