.common-white-container.company-profile-container {
  display: grid!important;
  grid-template-columns: 135px calc(50% - 145px) 135px calc(50% - 145px);
  padding: 25px 30px;
  gap: 15px 5px;

  > span {
    margin-top: 7px;
    color: $primary-color;
  }

  > div {
    width: 70%;
    min-width: 170px;
  }

  input {
    cursor: default!important;
  }
}
