@import "../../index";

.button {
  padding: 14px 25px;
  font: $sub-text;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid $primary-color;
  outline: none;
  cursor: pointer;
}

.primary-button {
  background-color: $primary-color;
  border-color: $primary-color;
}

.primary-button:hover {
  background-color: $primary-variant-color;
  border-color: $primary-variant-color;
}

.secondary-button {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.secondary-button:hover {
  background-color: $secondary-variant-color;
  border-color: $secondary-variant-color;
}

.outlined-primary-button {
  background-color: transparent;
  color: $primary-color;
  border-color: $primary-color;
}

.outlined-secondary-button {
  background-color: #ffffff;
  color: $secondary-color;
  border-color: $secondary-color;
}

.outlined-red-button {
  background-color: #ffffff;
  color: $error-color;
  border-color: $error-color;
}

.outlined-primary-button:hover, .outlined-secondary-button:hover, .outlined-red-button:hover {
  background-color: $border-color;
}

.icon-button {
  padding: 18px;
}

.success-button {
  background-color: $success-color;
  border-color: $success-color;
}

.success-button:hover {
  background-color: $success-variant-color;
  border-color: $success-variant-color;
}

.danger-button {
  background-color: $error-color;
  border-color: $error-color;
}

.danger-button:hover {
  background-color: $error-variant-color;
  border-color: $error-variant-color;
}

.primary-1-button {
  background-color: $primary-color-1;
  color: $primary-color;
  border-color: $primary-color-1;
}

.primary-1-button:hover {
  background-color: $primary-color-1-variant-color;
  border-color: $primary-color-1-variant-color;
}
