@import "../../../index";

.upload-document-modal {
  width: 60vw;
}

.document-upload-popup-container, .add-notes-popup-container {
  display: grid;
  grid-template-columns: 180px 2fr;
  gap: 15px 5px;

  > span {
    color: $primary-color;
  }

  .react-dropdown-select, .upload-document-input {
    width: 180px;
  }
   .switch-container {
     width: 180px;
  }
  .document-upload-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 0.063rem solid #E7ECF2;
    height: 32px;
    width: 180px;
    button{
      border: none;
      color: #B2B9BF;
      background: none;
    }
      p{
        color: #B2B9BF;
      }

    }

}

.tab-table-container {
  width: 100%;
  overflow-x: auto;
}
