.react-select-container.overdue-month-picker {
  min-height: 47px;
  max-height: 47px;
  width: 200px;
  margin-right: 10px;

  .react-select__indicators {
    align-self: center;
  }

  .react-select__control {
    min-height: 47px;
    max-height: 47px;
    border-radius: 10px;
  }
}

.new-submission-modal .date-picker-container {
  height: 47px;
}

.overdue-filter-modal {
  .form-title {
    width: 175px;
  }

  .input-container, .date-picker-container {
    width: 200px;
  }
}

