@import "Accordion/Accordion";
@import "BigInput/BigInput";
@import "Button/Button";
@import "Checkbox/Checkbox";
@import "Drawer/Drawer";
@import "DropdownMenu/DropdownMenu";
@import "ForbiddenAccessPage/ForbiddenAccessPage";
@import "Header/Header";
@import "Header/component/FileUpload";
@import "IconButton/IconButton";
@import "Input/Input";
@import "Layout/Layout";
@import "Loader/Loader";
@import "Modal/Modal";
@import "Modal/CustomFieldModal/CustomFieldModal";
@import "Modal/FilterModal/Filter";
@import "Pagination/Pagination";
@import "RadioButton/RadioButton";
@import "SideMenu/SideMenu";
@import "Stepper/Stepper";
@import "Switch/Switch";
@import "Tab/Tab";
@import "Tab/ApplicationTab/ApplicationTab";
@import "Tab/ClaimsTab/ClaimsTab";
@import "Tab/ContactsTab/ContactsTab";
@import "Tab/CreditLimitTab/CreditLimitTab";
@import "Tab/DocumentsTab/DocumentsTab";
@import "Tab/NotesTab/NotesTab";
@import "Tab/OverduesTab/OverduesTab";
@import "Tab/PoliciesTab/PoliciesTab";
@import "Tab/TasksTab/TasksTab";
@import "Table/Table";
