.button.icon-button.download-decision-letter-icon{
  display: inline-flex;
  background-color: #ffffff;
  //color: $primary-color;
  padding: 3px 15px;
  border-radius: 8px;
  border: 1px solid $primary-color;
}
.button.icon-button.download-decision-letter-icon:hover{
  background-color: $border-color;
}


