.button.icon-button.download-decision-letter-icon{
  display: inline-flex;
  padding: 3px 15px;
  background-color: #ffffff;
  white-space: nowrap ;
  border-radius: 8px;
  border: 1px solid $primary-color;
}
.button.icon-button.download-decision-letter-icon:hover{
  background-color: $border-color;
}

.button.icon-button.download-decision-letter-icon.disable-download-button {
  background-color: $border-color;
  opacity: .3;
}

.credit-limit-custom-select .custom-select__control {
  height: 32px;
  width: 200px;
}

.disable-delete-button {
  opacity: .3;
  cursor: not-allowed;
}