@import "../../../index";

.client-details-container {
  display: grid!important;
  grid-template-columns: 15% calc(35% - 7px) 15% calc(35% - 7px);
  padding: 25px 30px;
  gap: 15px 5px;

  > span {
    margin-top: 7px;
    color: $primary-color;
  }

  > div {
    width: 70%;
    min-width: 170px;
  }

   input {
    cursor: default!important;
  }
}
